.simple-alert {
    position: fixed;
    /* background: #fff; */
    box-shadow: 0px 0px 5px 5px;
    width: 600px;
    min-height: 200px;
    /* top: 30px; */
    bottom: 5px;
    /* left: calc(50% - 300px); */
    right: 10px;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    z-index: 1000000000;
    
}

.simple-alert-backdrop {
    position: fixed;
    content: "";
    height: 100vh;
    width: 100%;
    background: rgba(223, 223, 223, 0.8);
    top: 0;
    left: 0;
    z-index: 99999;
}

.simple-alert .footer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.simple-alert .footer button{
border: none;
outline: none;
border-radius: 5px;
padding: 10px;
width: 45%;
}

.simple-alert .footer button:hover{
background-color: #E16071;
color: white;
}

.simple-alert-close{
    font-size: 2rem;
    cursor: pointer;
}


/*  Sidebar of dashboard*/
.active-sidebar {
    background-color: #dceffc;
    /* transform: scale(1.1); */
}

.offset-list-item-link:has(>.active-sidebar) {
    transform: translateY(0%) translateZ(0) scale(2);
    font-weight: 600;
}
.coustom-section{
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
}
.main-content{
    border-radius: 10px;
}
.icon{
    height: 30px;
    width: 50px;
}
body{
    background: #f7f7f7;
}

/* .Custom table for css */
.custom-table{
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
}

.custom-table th, .custom-table td{
    padding: 8px;
}
.custom-table th, .custom-table td{
    white-space: nowrap;
}

#close{
    cursor: pointer;
    color: red;
}


